<div><h1>ShoppingList</h1>
<p> Amount of food items to buy: <%= @food_items.count %> </p>
<p>Total value of food needed: <%= @food_items.sum(:price) %> </p>

<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @food_items.each do |food_item| %>
        <tr>
            <td><%= food_item.name %></td>
            <td><%= food_item.quantity %></td>
            <td><%= food_item.price %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
<%= link_to 'Back', general_shopping_list_index_path %>
</div>