<%= render partial: 'recipe_details', locals: {recipe: @recipe} %>

<div>
  <%= link_to "Add ingredients", new_recipe_food_path %> |
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>

<% @foods.includes(:food).each do |food| %>
  <%= food.quantity %> 
  <%= food.food.name %>
  <%= food.food.measurement_unit %>
  <%= food.food.price %>
<% end %>
